<%- contentFor('HeaderCss') %>
<%- contentFor('title') %> Blank
<%- contentFor('breadcrumb') %>
<div class="page-title-box">
	<h4 class="font-size-18">Blank</h4>
	<ol class="breadcrumb mb-0">
		<li class="breadcrumb-item"><a href="javascript: void(0);">Veltrix</a></li>
		<li class="breadcrumb-item"><a href="javascript: void(0);">Extra Pages</a></li>
		<li class="breadcrumb-item active">Blank</li>
	</ol>
</div>

<%- contentFor('body') %>
<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>