<link
	href="assets/libs/summernote/summernote-bs4.min.css"
	rel="stylesheet"
	type="text/css"
/>

<div class="page-content">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-sm-6">
				<div class="page-title-box">
					<h4 class="font-size-18">Form Editors</h4>
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item">
							<a href="javascript: void(0);">Veltrix</a>
						</li>
						<li class="breadcrumb-item">
							<a href="javascript: void(0);">Forms</a>
						</li>
						<li class="breadcrumb-item active">Form Editors</li>
					</ol>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="float-right d-none d-md-block">
					<div class="dropdown">
						<button
							class="btn btn-primary dropdown-toggle waves-effect waves-light"
							type="button"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							<i class="mdi mdi-settings mr-2"></i> Settings
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Tinymce wysihtml5</h4>
						<p class="card-title-desc">
							Bootstrap-wysihtml5 is a javascript plugin that makes it easy to
							create simple, beautiful wysiwyg editors with the help of
							wysihtml5 and Twitter Bootstrap.
						</p>

						<form method="post">
							<textarea id="elm1" name="area"></textarea>
						</form>
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Summernote</h4>
						<p class="card-title-desc">
							Super simple wysiwyg editor on bootstrap
						</p>

						<div class="summernote">Hello Summernote</div>
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->
	</div>
	<!-- container-fluid -->
</div>

<script src="assets/libs/tinymce/tinymce.min.js"></script>
<script src="assets/libs/summernote/summernote-bs4.min.js"></script>
<script src="assets/js/pages/form-editor.init.js"></script>
