<link href="assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<div class="page-content">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-sm-6">
				<div class="page-title-box">
					<h4 class="font-size-18">File Upload</h4>
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item">
							<a href="javascript: void(0);">Veltrix</a>
						</li>
						<li class="breadcrumb-item">
							<a href="javascript: void(0);">Forms</a>
						</li>
						<li class="breadcrumb-item active">File Upload</li>
					</ol>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="float-right d-none d-md-block">
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle waves-effect waves-light" type="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="mdi mdi-settings mr-2"></i> Settings
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Dropzone</h4>
						<p class="card-title-desc">
							DropzoneJS is an open source library that provides drag’n’drop
							file uploads with image previews.
						</p>

						<div class="mb-5">
							<form action="#" class="dropzone">
								<div class="fallback">
									<input name="file" type="file" multiple="multiple" />
								</div>
								<div class="dz-message needsclick">
									<i class="h1 text-muted dripicons-cloud-upload"></i>
									<h3>Drop files here or click to upload.</h3>
									<span class="text-muted font-size-14">(This is just a demo dropzone. Selected files are
										<strong>not</strong> actually uploaded.)</span>
								</div>
							</form>
						</div>

						<div class="text-center mt-3">
							<button type="button" class="btn btn-primary waves-effect waves-light">
								Send Files
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="assets/libs/dropzone/min/dropzone.min.js"></script>
<script>
	Dropzone.autoDiscover = false;
	$(document).ready(function () {
		$(".dropzone").dropzone();
	});
</script>