<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				© <%= new Date().getFullYear(); %> Veltrix<span class="d-none d-sm-inline-block">
					- Crafted with <i class="mdi mdi-heart text-danger"></i> by
					Themesbrand.</span>
			</div>
		</div>
	</div>
</footer>