<%- contentFor('HeaderCss') %>
<%- contentFor('title') %> ChartJS
<%- contentFor('breadcrumb') %>
<div class="page-title-box">
	<h4 class="font-size-18">Chartjs</h4>
	<ol class="breadcrumb mb-0">
		<li class="breadcrumb-item"><a href="javascript: void(0);">Veltrix</a></li>
		<li class="breadcrumb-item"><a href="javascript: void(0);">Charts</a></li>
		<li class="breadcrumb-item active">Chartjs</li>
	</ol>
</div>

<%- contentFor('body') %>
<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title mb-4">Line Chart</h4>

				<div class="row justify-content-center">
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">86541</h5>
							<p class="text-muted">Activated</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">2541</h5>
							<p class="text-muted">Pending</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">102030</h5>
							<p class="text-muted">Deactivated</p>
						</div>
					</div>
				</div>

				<canvas id="lineChart" height="300"></canvas>

			</div>
		</div>
	</div> <!-- end col -->

	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title mb-4">Bar Chart</h4>

				<div class="row justify-content-center">
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">2541</h5>
							<p class="text-muted">Activated</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">84845</h5>
							<p class="text-muted">Pending</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">12001</h5>
							<p class="text-muted">Deactivated</p>
						</div>
					</div>
				</div>

				<canvas id="bar" height="300"></canvas>

			</div>
		</div>
	</div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title mb-4">Pie Chart</h4>

				<div class="row justify-content-center">
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">2536</h5>
							<p class="text-muted">Activated</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">69421</h5>
							<p class="text-muted">Pending</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">89854</h5>
							<p class="text-muted">Deactivated</p>
						</div>
					</div>
				</div>

				<canvas id="pie" height="260"></canvas>

			</div>
		</div>
	</div> <!-- end col -->

	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title mb-4">Donut Chart</h4>

				<div class="row justify-content-center">
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">9595</h5>
							<p class="text-muted">Activated</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">36524</h5>
							<p class="text-muted">Pending</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">62541</h5>
							<p class="text-muted">Deactivated</p>
						</div>
					</div>
				</div>

				<canvas id="doughnut" height="260"></canvas>

			</div>
		</div>
	</div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title mb-4">Polar Chart</h4>

				<div class="row justify-content-center">
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">4852</h5>
							<p class="text-muted">Activated</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">3652</h5>
							<p class="text-muted">Pending</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">85412</h5>
							<p class="text-muted">Deactivated</p>
						</div>
					</div>
				</div>

				<canvas id="polarArea" height="300"> </canvas>

			</div>
		</div>
	</div> <!-- end col -->

	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title mb-4">Radar Chart</h4>

				<div class="row justify-content-center">
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">694</h5>
							<p class="text-muted">Activated</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">55210</h5>
							<p class="text-muted">Pending</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="text-center">
							<h5 class="mb-0 font-size-20">489498</h5>
							<p class="text-muted">Deactivated</p>
						</div>
					</div>
				</div>

				<canvas id="radar" height="300"></canvas>

			</div>
		</div>
	</div> <!-- end col -->
</div> <!-- end row -->

<%- contentFor('FooterJs') %>
<!-- Chart JS -->
<script src="public/assets/libs/chart.js/Chart.bundle.min.js"></script>
<script src="public/assets/js/pages/chartjs.init.js"></script>

<%- contentFor('BottomJs') %>